body {
  background:#eee;
  margin-top: 20px;
  width: 100%;
}

.rounded {
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
}

#metric-container {
  padding-bottom: 15px;
  height: auto;
}

.mini-stat {
  padding: 15px;
  margin-bottom: 20px;
}

.mini-stat-info {
  font-size: 15px;
  padding-left: 10px;
}

p {
  color: black;
}

.mini-stat-info span {
  display: block;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0px;
  margin-top: 0px;
}

.charts-container-1 {
  display: flex;
  justify-content: space-between;
  margin: -10px;
  margin-bottom: 5px;
  margin-top: -35px;
}

.charts-container-1 > div {
  flex: 1; /* Ensures both charts take equal width */
  min-width: 300px; /* Optional: Sets a minimum width for each chart */
}

.charts-container-2 {
  display: flex;
  justify-content: space-between;
}

.charts-container-2 > div {
  flex: 1; /* Ensures both charts take equal width */
  min-width: 300px; /* Optional: Sets a minimum width for each chart */
}

.charts-container-3 {
  display: flex;
  justify-content: space-between;
}

.charts-container-3 > div {
  flex: 1; /* Ensures both charts take equal width */
  min-width: 300px; /* Optional: Sets a minimum width for each chart */
}

.charts-container-second {
  display: flex;
  justify-content: space-between;
}

.charts-container-second > div {
  flex: 0; /* Ensures both charts take equal width */
  min-width: 870px; /* Optional: Sets a minimum width for each chart */
}

/* ================ colors =====================*/
.bg-metrics {
  background-color: #151f32 !important;
  border: 1px solid #151f32;
  color: white;
  border-radius: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}