.auth-form {
  background-image: url('../img/cbd.png');
  margin-top: -100px;
}

.user-icon, .email-icon, .key-icon, .code-icon {
  position: relative;
  margin-left: 10px;
  top: 2px;
  color: #6c757d;
}

.login-form-container {
  max-width: 600px;
  margin: auto;
}

.forgot-password-link {
  font-size: 0.9rem;
  text-decoration: none;
  color: #007bff;
}

.forgot-password-link:hover {
  text-decoration: underline;
  color: #0056b3;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.password-wrapper {
  position: relative;
}

.password-visibility-toggle {
  position: absolute;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}